body{
    background-color: lightgray;
}
/* NavBar */
.navbar{
    max-height: 57px;
}
.navigation .navbar-brand{
    margin-left: 30px;
    padding: inherit;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: white;
}
.dropdown-item{
    color: lightsteelblue
}

/* Title Class */
.title{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}
/* Footer */
footer{
    background-color: #666666; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #0BADA6;
    color: white; 
    min-height: 55px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px; 
}